$primary-color: #313131;
$secondary-color: #25A4AD;
$third-color:#ffffff;
$primary-bg: #fff;
$secondary-bg:#D8D8D8;
$third-bg:#313131;
$color-star:#F5B91E;
$color-shape-first:#FFC229;
$color-shape-second:#45EC9C;
$color-shape-third:#D7FCFF;
$color-shape-fourth:#DEBBAF;
$color-shape-
$primary-font: 'Gilroy-Medium', sans-serif;
// $wrapper:1920px;
$container: 136px;
// font-family: 'Gilroy-Bold', sans-serif;
// font-family: 'Gilroy-Heavy', sans-serif;
// font-family: 'Gilroy-Light', sans-serif;
// font-family: 'Gilroy-Regular', sans-serif;

