.feature{
  .container{
    background-color: $secondary-bg;
  }
  .feature-card-list{
    @include flexBox();
    .feature-card-item{
      @include size(350px,342px);
      border: 1px solid $se;
      margin-right:40px
      .feature-card-title{

      }
      .feature-card-content{

      }
      .feature-card-link{

      }
    }
  }
}