.feature{
  .container{
    background-color: $secondary-bg;
  }
  .feature-card-list{
    @include flexBox();
    .feature-card-item{
      @include size(350px,342px);
      border: 1px solid $secondary-line;
      margin-right:40px;
      text-align: center;
      padding:42px 35px;
      @include flexBox(stretch,space-between,column);
      .feature-card-title{
        fonr-size:16px;
        
      }
      .feature-card-content{

      }
      .feature-card-link{

      }
    }
  }
}