.footer{
  .container{
    background: url("../images/footer/footer-background.jpg") no-repeat;
    background-size: 100%;
    margin-top: 88px;
    background-color: $third-bg;
    color:white;
    text-align: center;
    @include flexBox(stretch,space-between,column);
    .footer-title{
      font-size:61px;
      padding:0px 69px;
      margin-top:80px;
    }
    .footer-button{
      @include size(218px,65px);
      margin-top:67px;
      border:1px solid white;
      color:white;
    }
    .footer-bottom{
      @include flexBox(stretch,space-between,row);
      margin-top:100px;
      .footer-left{
        @include flexBox(flex-start,flex-start,column);
        @include size(160px);
        text-align: start;
        .footer-brand{
          font-size:45px;
          font-weight: bold;
        }
        .footer-address{
          font-size:12px;
         
        }
      }
      .footer-right{
        .footer-list{
          @include flexBox();
          .footer-item{
            @include flexBox(flex-start,start,column);
            margin-left:145px;
            .footer-item-title{
              margin-bottom:43px;
              font-size:13px;
              font-weight: bold;
            }
            .footer-item-link{
              @include flexBox(flex-start,start,column);
              margin-bottom:32px;
              color:#fff;
              width:140px;
              text-align: start;
              font-size:12px;
              transition: all linear 0.5s;
            }
            .footer-item-link:hover{
              color:$secondary-color;
            }
          }
        }
      }
    }
  }
  @include maxWidth(1132px){
    .container{
      .footer-title{
        font-size:40px;
        padding:0px 69px;
        margin-top:60px;
      }
      .footer-button{
        @include size(180px,50px);
        margin-top:40px;
        border:1px solid white;
        color:white;
      }
      .footer-bottom{
        @include flexBox(stretch,space-evenly,row);
        margin-top:30px;
        .footer-left{
          @include flexBox(flex-start,flex-start,column);
          @include size(160px);
          text-align: start;
          .footer-brand{
            font-size:45px;
            font-weight: bold;
          }
          .footer-address{
            font-size:12px;
           
          }
        }
        .footer-right{
          .footer-list{
            @include flexBox(stretch,space-between,column);
            .footer-item{
              @include flexBox(flex-start,space-between,row);
              margin-left:145px;
              .footer-item-title{
                margin-bottom:43px;
                font-size:13px;
                font-weight: bold;
                margin-right:10px;
              }
              .footer-item-title:hover{
                color:$secondary-color;
              }
              .footer-item-link{
                @include flexBox(flex-start,start,column);
                margin-bottom:32px;
                color:#fff;
                width:140px;
                text-align: start;
                font-size:12px;
                transition: all linear 0.5s;
                display:none;
              }
              .footer-item-link.active{
                display: block;
              }
              .footer-item-link:hover{
                color:$secondary-color;
              }
            }
          }
        }
      }
    }
  }
}