.logo{
  .container{
    background-color: $secondary-bg;
    .logo-list{
      padding:40px 28px;
      @include flexBox(stretch,space-between);
    }
    .logo-item{
      object-fit:contain;
    }
  }
  @include maxWidth(1025px){
    .container{
      background-color: $secondary-bg;
      .logo-list{
        padding:30px 10px;
        @include flexBox(stretch,space-between);
      }
      .logo-item{
        object-fit:contain;
        @include size(300px,300px);
      }
    }
  }
  @include maxWidth(949px){
  }
  @include maxWidth(714px){
  }
  @include maxWidth(656px){
  }  
  @include maxWidth(386px){
  }
  @include maxWidth(342px){
  }
}