.logo{
  .container{
    background-color: $secondary-bg;
    z-index: 10;
    .logo-list{
      padding:69px 28px;
      @include flexBox(stretch,space-between);
    }
    .logo-item{
      object-fit:;
    }
  }
}