.pricing{
  .container{
    .pricing-card{
      @include flexBox(stretch, space-between);
      margin-top:150px;
      text-align: center ;
      .pricing-item{
        padding: 50px 0px;
        @include size(362px,508px);
        border:1px solid $secondary-line;
        @include flexBox(stretch, space-between,column);
        .pricing-title{
          font-size: 28px;
          font-weight: bold;
        }
        .pricing-price{
          font-size: 45px;
          font-weight: bold;
        }
        .pricing-benefit-list{
          @include flexBox(stretch,start,column);
          padding: 0px 50px;
          .pricing-benefit-item{
            @include flexBox(stretch,start);
            margin-bottom: 16px;
            .pricing-benefit-icon
          } 
        }
        .pricing-button{
          @include size(278px,60px);
          border:1px solid $secondary-line;
          margin:0 auto;
          @include flexBox(center,center);
          transition: all linear 0.25s;
        }
      }
      .pricing-item:hover{
        color:$secondary-color;
        transform: translateY(-50px);
        transition: all linear 0.5s;
        box-shadow: 0px 20px 20px $secondary-line;
        .pricing-button{
          color:white;
          background-color: $secondary-color;
        }
      }
    }
  }
}