.question{
  .container{
    .question-item{
      margin:0 auto;
      @include size(705px,230px);
      border:1px solid $secondary-line;
      @include flexBox ();
      .question-content{
        @include flexBox (stretch, space-between,column);
        padding:40px 50px;
      }
    }
  }
}