.service{
  .container{
    .service-img-list{
      @include flexBox(stretch,center);
    }
    .service-img-list-left{
      .service-img-item{
        position: relative;
        .service-img{
          opacity: 0.8;
        }
        .service-content{
          position: absolute;
          top:0;
          left:0;
          right:0;
          bottom:0;
          transform: translate(40%,50%);          
          .service-title{
            color:$third-color;
            font-weight: bold;
            font-size: 30px;
          }
          .service-icon-list{
            @include flexBox();
            .service-icon-item{
              color:$color-star;
              font-size: 20px;
            }
          }
        }
      }
    }
  }
}