// .wrapper {
// 		max-width: $wrapper;
// 		margin: 0 auto;
// }

@include maxWidth(656px){
	padding: 41px 20px 28px;
}
// .container {
// 	max-width: $container + 30px;
// 	margin: 0 auto;
// 	padding: 0 15px;
// }
.block-box{
	text-align: center;
	max-width: 620px;
	margin-left: auto;
	margin-right: auto;
	padding:0px 10px;
	margin-top: 140px;
}
.block-box-title{
	@include flexBox(stretch,center);
	font-size:50px;
	margin-bottom: 40px;
}
.block-box-caption-span{
	color:$secondary-color;
	font-weight: bold;
	margin-left: 20px;	
}
.block-box-desc{
	font-size:15px;
	line-height: 1.4;
	font-weight: 300;
	margin-bottom: 85px;
}

