// .wrapper {
// 		max-width: $wrapper;
// 		margin: 0 auto;
// }

.container {
	max-width: $container;
	margin: 0 auto;
	padding: 41px 136px 28px;
}

// .container {
// 	max-width: $container + 30px;
// 	margin: 0 auto;
// 	padding: 0 15px;
// }
.block-box{
	text-align: center;
	max-width: 620px;
	margin-left: auto;
	margin-right: auto;
	padding:0px 10px;
	margin-top: 140px;
}
.block-box-title{
	@include flexBox(stretch,center);
	font-size:50px;
	margin-bottom: 40px;
}
.block-box-caption-span{
	color:$secondary-color;
	font-weight: bold;
	margin-left: 20px;	
}
.block-box-desc{
	font-size:15px;
	line-height: 1.4;
	font-weight: 300;
	margin-bottom: 85px;
}


@include maxWidth(1023px){
	.container {
		padding: 41px 110px 28px;
	}
	.block-box{
		max-width: 620px;
		padding:0px 10px;
		margin-top: 100px;
	}
	.block-box-title{
		font-size:40px;
		margin-bottom: 30px;
	}
	.block-box-caption-span{
		margin-left: 15px;	
	}
	.block-box-desc{
		font-size:14px;
		line-height: 1.4;
		font-weight: 300;
		margin-bottom: 85px;
	}
	
	
}
@include maxWidth(656px){
	.container {
		padding: 41px 50px 28px;
	}
	.block-box{
		max-width: 620px;
		padding:0px 10px;
		margin-top: 40px;
	}
	.block-box-title{
		font-size:28px;
		margin-bottom: 20px;
	}
	.block-box-caption-span{
		margin-left: 10px;	
	}
	.block-box-desc{
		font-size:13px;
		line-height: 1.4;
		font-weight: 300;
		margin-bottom: 60px;
	}	
}
@include maxWidth(444px){
	.container {
		padding: 41px 50px 28px;
	}
	.block-box{
		max-width: 620px;
		padding:0px 10px;
		margin-top: 35px;
	}
	.block-box-title{
		font-size:25px;
		margin-bottom: 20px;
	}
	.block-box-caption-span{
		margin-left: 8px;	
	}
	.block-box-desc{
		font-size:12px;
		margin-bottom: 55px;
	}	
}
@include maxWidth(424px){
	.container {
		padding: 41px 50px 28px;
	}
	.block-box{
		max-width: 620px;
		padding:0px 10px;
		margin-top: 10px;
	}
	.block-box-title{
		font-size:22px;
		margin-bottom: 20px;
	}
	.block-box-caption-span{
		margin-left: 5px;	
	}
	.block-box-desc{
		font-size:12px;
		margin-bottom: 55px;
	}	
}



