section.client
  .container
    +blockBox("What","Clients","Say","Letter of on become he tended active enable to. Vicinity relation sensible sociable surprise screened no up as.")
    .client-list
    .client-button
      .client-button-previous
      .client-button-next