section.client
  .container
    +blockBox("What","Clients","Say","Letter of on become he tended active enable to. Vicinity relation sensible sociable surprise screened no up as.")
    .client-list
      .client-item
        img(src=src).client-img
        .client-content
          .client-content-title= title
          .client-content-text= text
          .client-content-list
            i.fa.fa-star.service-icon-item
            i.fa.fa-star.service-icon-item
            i.fa.fa-star.service-icon-item
            i.fa.fa-star.service-icon-item
            i.fa.fa-star.service-icon-item
          .client-author
          .client-job
    .client-button
      .client-button-previous
      .client-button-next