section.client
  .container
    +blockBox("What","Clients","Say","Letter of on become he tended active enable to. Vicinity relation sensible sociable surprise screened no up as.")
    .client-list
      .client-item
        .client-img
        .client-content
          .client-content-title 
          .client-content-text
          .client-content-list
            .client-content-icon
          .client-author
          .client-job