section.feature
  .container
    +blockBox("Our","Feature","null","letter of on become e tended active enable to. Cicinity relation sensible sociable surprise screened no up as.")
    .feature-card-list
      +featureItem("Word Load","Lo")
      .feature-card-item
        .feature-card-title Word Load   
        .feature-card-content Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        a(href="#").feature-card-link Learn More
      .feature-card-item
        .feature-card-title Word Load   
        .feature-card-content Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        a(href="#").feature-card-link Learn More
      .feature-card-item
        .feature-card-title Word Load   
        .feature-card-content Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        a(href="#").feature-card-link Learn More
      .feature-card-item
        .feature-card-title Word Load   
        .feature-card-content Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        a(href="#").feature-card-link Learn More
    .feature-button.button.size Explore All