footer.footer
	.container
		.footer-title People who are ready 
		.footer-button.button
		.footer-bottom
			.footer-left
				.footer-brand
				.footer-address 
			.footer-right
				.footer-list
		.footer-footer @2021 Payme. All rights reserved 			