footer.footer
	.container
		.footer-top
			.footer-title
				.footer-title-top People who are
				.footer-title-bottom ready took these courses!
			.footer-button.button Schedule demo	
		.footer-bottom
			.footer-left
				.footer-brand Payme
				.footer-address  
			.footer-right
				.footer-list
		.footer-footer @2021 Payme. All rights reserved 			