footer.footer
	.container
		.footer-top
			.footer-title
				.footer-title-top People who are
				.footer-title-bottom ready took these courses!
			.footer-button.button Schedule demo	
		.footer-bottom
			.footer-left
				.footer-brand Payme
				.footer-address Crechterwoord K12 182 DK Alknjkcb, All Rights Reserved 
			.footer-right
				.footer-list
					+footerItem()
					+footerItem("Company",["Terms & Conditions","Privacy Policy","Contact"])
					+footerItem("Get in touch",["Crechterwoord K12 182 DK Alknjkcb","085-132567",""])
		.footer-footer @2021 Payme. All rights reserved 			