header.header
	.container
		.header-border
		.header-menu
			.header-menu-item
			.header-menu-item
			.header-menu-item
		.header-toggle-menu
			.header-toggle-item.brand Payment
			.header-nav-item Home
			.header-nav-item About
			.header-nav-item Testimonials
			.header-nav-item Contact
			.header-nav-sign.in Sign in 
			.header-nav-sign.up Sign up 
		.header-top
			.header-nav
				.header-nav-left
					.header-nav-list
						.header-nav-item.brand Payment
						.header-nav-item Home
						.header-nav-item About
						.header-nav-item Testimonials
						.header-nav-item Contact
				.header-nav-right
					.header-nav-auth
						.header-nav-sign.in Sign in 
						.header-nav-sign.up Sign up
		.header-main
			.header-main-left
				.header-main-title
					.header-title-item Providing
					.header-title-item Best 
					.header-title-item.web WEB Services
				.header-main-content Letter of on become he tended active enable to. Vicinity relation sensible sociable surprise screened no up as.
				.header-main-button
					a(href="#").header-button-item.started Get Started
					a(href="#").header-button-item.explore Explore
			img(src="../images/header/header-img-1.png").header-main-img
