section.logo
  .container
    .logo-list
      img(src="../images/logo/logo-img1.jpg").logo-item
      img(src="../images/logo/logo-img2.jpg").logo-item
      img(src="../images/logo/logo-img2.jpg").logo-item
      img(src="../images/logo/logo-img2.jpg").logo-item
      img(src="../images/logo/logo-img.jpg").logo-item
      
      