section.logo
  .container
    .logo-list
      img(src="logo-img1.jpg").logo-item
      img(src="logo-img1.jpg").logo-item
      img(src="logo-img1.jpg").logo-item
      img(src="logo-img1.jpg").logo-item
      img(src="logo-img1.jpg").logo-item
      