mixin blockBox(caption,span,captionsecond,desc)
	.block-box
		.block-box-caption= caption
		.block-box-caption-span= span
		if captionsecond!="null"
		.block-box-caption-caption = captionsecond
		else
		if desc
			p.block-box-desc= desc