section.pricing
  .container
    +blockBox("Our","Pricing Plan","null")
    .pricing-card
      +pricingItem()
      +pricingItem("For Teams","99$")
        +benefitItem("hello")
      +pricingItem("For Company","Custom")
    