section.pricing
  .container
    +blockBox("Our","Pricing Plan","null")
    .pricing-card
      +pricingItem(["Feedback Categorization","Feedback Categorization","Feedback Categorization","Feedback Categorization","Feedback Categorization"])
      +pricingItem(["Feedback Categorization","Feedback Categorization","Feedback Categorization","Feedback Categorization","Feedback Categorization"],"Premium Plan", "$99", "Get Started")
      +pricingItem(["Feedback Categorization","Feedback Categorization","Feedback Categorization"],"For Company","Custom")    