section.pricing
  .container
    +blockBox("Our","Pricing Plan","null")
    .pricing-card
      +pricingItem()
      +pricingItem("Premium Plan", "$99", "Get Started", ["Unlimited access", "24/7 support", "Advanced analytics"])

      +pricingItem("For Company","Custom")    