section.pricing
  .container
    +blockBox("Our","Pricing Plan","null")
    .pricing-card
      +pricingItem([Feedback Categorization])
      +pricingItem([Feedback Categorization],"Premium Plan", "$99", "Get Started")
      +pricingItem([Feedback Categorization],"For Company","Custom")    