section.service
  .container
    .service-border
    +blockBox("Best","Services","null","letter of on become e tended active enable to. Cicinity relation sensible sociable surprise screened no up as.")
    .service-img-list
      .service-img-list-item.left
        +serviceItem("../images/service/service-img-1.png","Web Development")
        +serviceItem("../images/service/service-img-2.png","Database Management")
      .service-img-list-item.right
        +serviceItem("../images/service/service-img-3.png","Web Designing")
        +serviceItem("../images/service/service-img-4.png","SEO")
    .service-button Explore All
