section.service
  .container
    +blockBox("Best","Services","null","letter of on become e tended active enable to. Cicinity relation sensible sociable surprise screened no up as.")
    .service-img-list
      .service-img-list-left
        .service-img-item
          img(src="../images/service/service-img-1.png").service-img
          .service-title
          .service-icon-list
            i.fa.service-icon-item
        .service-img-item
          img(src="../images/service/service-img-2.png").service-img
      .service-img-list-right
        .service-img-item
          img(src="../images/service/service-img-3.png").service-img
        .service-img-item
          img(src="../images/service/service-img-4.png").service-img